<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ @error['code'].' - '.@error['status'] }}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
		<style type="text/css">
			body {
				height:          100vh;
				display:         flex;
				flex-direction:  column;
				justify-content: center;
				align-items:     center;
				margin-top:      0;
				margin-bottom:   0;
			}

			.code {
				margin-bottom: 0;
				font-size:     6em;
			}

			.message {
				margin-top: 0;
				text-align: center;
				color:      #a9b1ba;
			}

			.error {
				max-width: 100%;
			}
		</style>
	</head>
	<body>
		<h1 class="code">{{ @error['code'] }}</h1>
		<h2 class="message">{{ strtoupper(@error['status']) }}</h2>
		<check if="{{ !$this->fw->PRODUCTION }}">
			<pre class="error">
				<code>
					<b>{{ @error['text'] }}</b>
					<p>{{ @error['trace'] }}</p>
				</code>
			</pre>
		</check>
	</body>
</html>

