<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Fat-Free Framework</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css" />
		<link rel="stylesheet" href="{{ @BASE }}/assets/css/bootstrap.min.css" />
	</head>
	<body>
		<main class="container">
			<h1>{{ @key }}</h1>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Test Use Language in F3!</h4>
						<h1>{{ @love }}</h1>
						<p>{{ @today,time() | format }}.<br />{{ @money,365.25 | format }}</p>
						<p class="mb-0">{{ @pi, 3.1415 | format }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<repeat group="{{ @data }}" value="{{ @item }}">
							<repeat group="{{ @item }}" value="{{ @value }}" key="{{ @ikey }}">
								<li>
									<label class="text-dark">{{ @ikey }}</label>
									<label class="text-danger">{{ trim(@value)|raw }}</label>
									<p>
										<label>With escaped HTML</label><br/>
										<label class="text-danger">{{ trim(@value) }}</label>
									</p>
								</li>
							</repeat>
						</repeat>
					</ul>
				</div>
			</div>
		</main>
	</body>
</html>